<div id="<%= message._id -%>" class="message">
  <div class="time"><a href="#<%= message._id -%>"><%= 
    moment(message.time)
    .utcOffset(globalConfig.timezone)
    .locale(globalConfig.locale) 
    .format('a hh:mm:ss')
  -%></a></div>
  <div class="from">
    <a style="color: <%= getColor(message.from); -%>" href="/message/<%= message._id -%>">
      <%= message.from -%>
    </a>
  </div>
  <div class="word"><%- parseColor(escapeHTML(message.message))%></div>
  <%_ if (query.admin != null) { -%>
  <div class="admin">
    <a href="javascript: void(0)" class="delete">[delete]</a>
  </div>
  <%_ } -%>
</div>