<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalText += 1;
    mesureStart();
  }
-%>
<div id="<%= message._id -%>" class="message">
  <div class="time"><a href="#<%= message._id -%>"><%= 
    moment(message.time)
    .utcOffset(globalConfig.timezone)
    .format('a hh:mm:ss')
  -%></a></div>
  <div class="from">
    <a style="color: <%= getColor(message.from); -%>" href="/message/<%= message._id -%>">
      <%= message.from -%>
    </a>
  </div>
  <% if (message.messageFormat && message.messageFormat.match(/^html$/i)) { %>
    <div class="word"><%- message.messageFormated %></div>
  <% } else { %>
    <div class="word"><%- parseColor(escapeHTML(message.message))%></div>
  <% } %>
  <%_ if (query.admin != null) { -%>
  <div class="admin">
    <a href="javascript: void(0)" class="delete">[delete]</a>
  </div>
  <%_ } -%>
</div>
<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalTextTime += mesure();
  }
-%>