<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalText += 1;
    mesureStart();
  }
-%>
<div id="<%= message._id -%>" class="message">
  <div class="time"><a href="#<%= message._id -%>"><%= 
    moment(message.time)
    .utcOffset(globalConfig.timezone)
    // .locale(globalConfig.locale) 
    .format('a hh:mm:ss')
  -%></a></div>
  <div class="from">
    <a href="/message/<%= message._id -%>">
      *
    </a>
  </div>
  <div class="word"><a href="/message/<%= message._id -%>" style="color: <%= getColor(message.from); -%>" ><%= message.from -%></a> <%- parseColor(escapeHTML((/^\u0001ACTION\s*(.+)\s*\u0001$/i).exec(message.message)[1]))%></div>
  <%_ if (query.admin != null) { -%>
  <div class="admin">
    <a href="javascript: void(0)">[delete]</a>
  </div>
  <%_ } -%>
</div>
<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalTextTime += mesure();
  }
-%>