<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalMedia += 1;
    mesureStart();
  }
-%>
<div id="<%= message._id -%>" class="message">
  <div class="time"><a href="#<%= message._id -%>"><%= 
    moment(message.time)
    .utcOffset(globalConfig.timezone)
    // .locale(globalConfig.locale) 
    .format('a hh:mm:ss')
  -%></a></div>
  <div class="from">
    <a style="color: <%= getColor(message.from); -%>" href="/message/<%= message._id -%>">
      <%_
        var userInfo
        try {
          userInfo = yield getUserInfo(message.from);
        } catch (e) {
          console.log(e);
        }
      -%>
      <%= userInfo ? userInfo.getFullName() : message.from -%>
    </a>
  </div>
  <div class="word"><%
   for (var i = 0; i < message.medias.length; i++) { var media = message.medias[i];
   // message.medias.forEach(function (media) {  
     for (var j = 0; j < media.files.length; j++) { var file =  media.files[j];
     // media.files.forEach(function (file) {
       if (media.role !== 'audio') { 
         if (!file.isThumb) {continue;}
         -%><div style="height: <%= file.photoSize[1] -%>px; width: <%= file.photoSize[0] -%>px;" class="media_wrap">
              <img class="lazy media media_<%= media.role -%>" data-original="/files/<%= file.contentSrc -%>?png" 
              <%_ if (file.photoSize && file.photoSize.length === 2 ) { -%>
              width="<%= file.photoSize[0] -%>" height="<%= file.photoSize[1] -%>"
              <%_ } %> 
              data-role="<%= media.role -%>"
              data-media-id="<%= media._id -%>"
              data-mime="<%= file.MIME -%>"
              alt="[<%= media.role -%>](media:<%= file.contentSrc -%>)">
            </div><%
          } else {
  -%><audio controls preload="none">
      <source src="/files/<%= file.contentSrc -%>" type="<%= file.MIME -%>">
    </audio><%
      }  
    }
    // }) 
  }
  // })
  -%></div>
  <%_ if (query.admin != null) { -%>
  <div class="admin">
    <a href="javascript: void(0)" class="delete-with-media">[delete with media]</a>
    <a href="javascript: void(0)" class="delete">[delete]</a>
  </div>
  <%_ } -%>
</div>


<%_
  if (typeof debug !== 'undefined' && debug === true) {
    totalMediaTime += mesure();
  }
-%>