
<% if (query.packed === "0") { %>
<link href="/css/header.css" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<% } %>

<div class="header">
  <button class="button menu" title="show menu">
    <i class="fa fa-bars"></i>
  </button>
  <div class="date">
    <select class="date-select">
      <%
        var day = moment().utcOffset(globalConfig.timezone).startOf('day');
        function getNextDay () {
          day = day.subtract(1, 'days');
          return day.format('YYYY-MM-DD');
        }
        function getDay () {
          return day.format('YYYY-MM-DD');
        }
        function isSelected (day) {
          return selectedDay === day ? 'selected' : '';
        }
        if (selectedDay === 'today') { 
      %>
        
        <optgroup label="Today">
          <option value="today"  selected    ><%= getDay() %></option>
        </optgroup>
        
        <optgroup label="Earlier days" id="earlier">
          <option value="<%= getNextDay() %>"><%= getDay() %></option>
          <option value="<%= getNextDay() %>"><%= getDay() %></option>
          <option value="<%= getNextDay() %>"><%= getDay() %></option>
          <option value="<%= getNextDay() %>"><%= getDay() %></option>
          <option value="<%= getNextDay() %>"><%= getDay() %></option>
        </optgroup>
      <% } else { %>
        <optgroup label="Today">
          <option value="today"><%= getDay() %></option>
        </optgroup>
        <optgroup label="Earlier days" id="earlier">
        </optgroup>
      <% } %>
      <optgroup label="Other days">
        <option value="others">Selecting...</option>
      </optgroup>
    </select> 
  </div>
  <!-- jump to top -->
  <button class="button" data-href="#top" title="jump to top">
    <i class="fa fa-angle-double-up"></i>
  </button>
  
  <!-- jump to bottom -->
  <button class="button" data-href="#bottom" title="jump to bottom">
    <i class="fa fa-angle-double-down"></i>
  </button>
</div>

<div class="header-overlay">
  
</div>
<div class="sidebar">
  <a class="item" href="/">
    Home Page
  </a>
  <a class="item" href="javascript:location.reload()">
    <i class="fa fa-repeat"></i>
    reload
  </a>
  <% if (query.admin != null) { %>
    <a class="item admin-switch" href="?">
      switch to normal mode
    </a>
  <% } else { %>
    <a class="item admin-switch" href="?admin">
      switch to admin mode
    </a>
  <% } %>
</div>


<div class="time-selector-overlay decoration"></div>
<div class="time-selector-overlay real">
  <div style="display:table-cell;vertical-align:middle;text-align:center">
    <div class="time-selector-dialog">
      <div class="header-group">
        <span class="input-tag">Jump to...</span>
      </div>
      <div class="body-group">
        <span class="input-wrap">
          <input type="date" value="<%= moment().utcOffset(globalConfig.timezone).startOf('day').format('YYYY-MM-DD') %>">
        </span>
      </div>
      <div class="footer-group">
        <button class="cancel">Cancel</button>
        <button class="confirm">Go</button>
      </div>
    </div>
  </div>
</div>
<% if (query.packed === "0") { %>
<script>
  function checkDateInput() {
    var input = document.createElement('input');
    input.setAttribute('type','date');

    var notADateValue = 'not-a-date';
    input.setAttribute('value', notADateValue); 

    return (input.value !== notADateValue);
  }
  if (checkDateInput()) {
    head.load(["//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js", 
      "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js",
      "/js/header.js"
    ]);
  } else {
    head.load(["//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js", 
      "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js",
      "//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js",
      "/js/header.js",
      "/css/google-material-icon.css",
      "/components/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css",
      "/components/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js",
    ], function () {
      $(".time-selector-overlay input").bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    });
  }
</script>
<% } %>