<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <title>Log | <%= channel %></title>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Log for <%= channel %>">
    <!--
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <!-- start of SEO area -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="<%= channel %>" />
    <meta property="og:type" content="website" />
    <!--
    <meta property="og:url" content="http://jsbin.com/" />
    <meta property="og:image" content="http://jsbin.com/favicon.ico" />
    -->
    <!-- end of SEO area -->

    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/channel.css" rel="stylesheet" type="text/css" />
    <script>
      var channel = <%- JSON.stringify(channel) %>;
      var config = <%- JSON.stringify({
        locale : globalConfig.locale,
        timezone : globalConfig.timezone,
        selectedDay :　selectedDay
      }) %>;
      
      /*! head.load - v1.0.3 */
      (function(n,t){"use strict";function w(){}function u(n,t){if(n){typeof n=="object"&&(n=[].slice.call(n));for(var i=0,r=n.length;i<r;i++)t.call(n,n[i],i)}}function it(n,i){var r=Object.prototype.toString.call(i).slice(8,-1);return i!==t&&i!==null&&r===n}function s(n){return it("Function",n)}function a(n){return it("Array",n)}function et(n){var i=n.split("/"),t=i[i.length-1],r=t.indexOf("?");return r!==-1?t.substring(0,r):t}function f(n){(n=n||w,n._done)||(n(),n._done=1)}function ot(n,t,r,u){var f=typeof n=="object"?n:{test:n,success:!t?!1:a(t)?t:[t],failure:!r?!1:a(r)?r:[r],callback:u||w},e=!!f.test;return e&&!!f.success?(f.success.push(f.callback),i.load.apply(null,f.success)):e||!f.failure?u():(f.failure.push(f.callback),i.load.apply(null,f.failure)),i}function v(n){var t={},i,r;if(typeof n=="object")for(i in n)!n[i]||(t={name:i,url:n[i]});else t={name:et(n),url:n};return(r=c[t.name],r&&r.url===t.url)?r:(c[t.name]=t,t)}function y(n){n=n||c;for(var t in n)if(n.hasOwnProperty(t)&&n[t].state!==l)return!1;return!0}function st(n){n.state=ft;u(n.onpreload,function(n){n.call()})}function ht(n){n.state===t&&(n.state=nt,n.onpreload=[],rt({url:n.url,type:"cache"},function(){st(n)}))}function ct(){var n=arguments,t=n[n.length-1],r=[].slice.call(n,1),f=r[0];return(s(t)||(t=null),a(n[0]))?(n[0].push(t),i.load.apply(null,n[0]),i):(f?(u(r,function(n){s(n)||!n||ht(v(n))}),b(v(n[0]),s(f)?f:function(){i.load.apply(null,r)})):b(v(n[0])),i)}function lt(){var n=arguments,t=n[n.length-1],r={};return(s(t)||(t=null),a(n[0]))?(n[0].push(t),i.load.apply(null,n[0]),i):(u(n,function(n){n!==t&&(n=v(n),r[n.name]=n)}),u(n,function(n){n!==t&&(n=v(n),b(n,function(){y(r)&&f(t)}))}),i)}function b(n,t){if(t=t||w,n.state===l){t();return}if(n.state===tt){i.ready(n.name,t);return}if(n.state===nt){n.onpreload.push(function(){b(n,t)});return}n.state=tt;rt(n,function(){n.state=l;t();u(h[n.name],function(n){f(n)});o&&y()&&u(h.ALL,function(n){f(n)})})}function at(n){n=n||"";var t=n.split("?")[0].split(".");return t[t.length-1].toLowerCase()}function rt(t,i){function e(t){t=t||n.event;u.onload=u.onreadystatechange=u.onerror=null;i()}function o(f){f=f||n.event;(f.type==="load"||/loaded|complete/.test(u.readyState)&&(!r.documentMode||r.documentMode<9))&&(n.clearTimeout(t.errorTimeout),n.clearTimeout(t.cssTimeout),u.onload=u.onreadystatechange=u.onerror=null,i())}function s(){if(t.state!==l&&t.cssRetries<=20){for(var i=0,f=r.styleSheets.length;i<f;i++)if(r.styleSheets[i].href===u.href){o({type:"load"});return}t.cssRetries++;t.cssTimeout=n.setTimeout(s,250)}}var u,h,f;i=i||w;h=at(t.url);h==="css"?(u=r.createElement("link"),u.type="text/"+(t.type||"css"),u.rel="stylesheet",u.href=t.url,t.cssRetries=0,t.cssTimeout=n.setTimeout(s,500)):(u=r.createElement("script"),u.type="text/"+(t.type||"javascript"),u.src=t.url);u.onload=u.onreadystatechange=o;u.onerror=e;u.async=!1;u.defer=!1;t.errorTimeout=n.setTimeout(function(){e({type:"timeout"})},7e3);f=r.head||r.getElementsByTagName("head")[0];f.insertBefore(u,f.lastChild)}function vt(){for(var t,u=r.getElementsByTagName("script"),n=0,f=u.length;n<f;n++)if(t=u[n].getAttribute("data-headjs-load"),!!t){i.load(t);return}}function yt(n,t){var v,p,e;return n===r?(o?f(t):d.push(t),i):(s(n)&&(t=n,n="ALL"),a(n))?(v={},u(n,function(n){v[n]=c[n];i.ready(n,function(){y(v)&&f(t)})}),i):typeof n!="string"||!s(t)?i:(p=c[n],p&&p.state===l||n==="ALL"&&y()&&o)?(f(t),i):(e=h[n],e?e.push(t):e=h[n]=[t],i)}function e(){if(!r.body){n.clearTimeout(i.readyTimeout);i.readyTimeout=n.setTimeout(e,50);return}o||(o=!0,vt(),u(d,function(n){f(n)}))}function k(){r.addEventListener?(r.removeEventListener("DOMContentLoaded",k,!1),e()):r.readyState==="complete"&&(r.detachEvent("onreadystatechange",k),e())}var r=n.document,d=[],h={},c={},ut="async"in r.createElement("script")||"MozAppearance"in r.documentElement.style||n.opera,o,g=n.head_conf&&n.head_conf.head||"head",i=n[g]=n[g]||function(){i.ready.apply(null,arguments)},nt=1,ft=2,tt=3,l=4,p;if(r.readyState==="complete")e();else if(r.addEventListener)r.addEventListener("DOMContentLoaded",k,!1),n.addEventListener("load",e,!1);else{r.attachEvent("onreadystatechange",k);n.attachEvent("onload",e);p=!1;try{p=!n.frameElement&&r.documentElement}catch(wt){}p&&p.doScroll&&function pt(){if(!o){try{p.doScroll("left")}catch(t){n.clearTimeout(i.readyTimeout);i.readyTimeout=n.setTimeout(pt,50);return}e()}}()}i.load=i.js=ut?lt:ct;i.test=ot;i.ready=yt;i.ready(r,function(){y()&&u(h.ALL,function(n){f(n)});i.feature&&i.feature("domloaded",!0)})})(window);
      /*
      //# sourceMappingURL=head.load.min.js.map
      */
      
    </script>
  </head>
  <body>
    <div class="anchor" id="top"></div>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>-->
    <% include _header.ejs %>
    <div id="messages">
        <div class="message head">
          <div class="time">time</div>
          <div class="from">from</div>
          <div class="word">message</div>
        </div> 
        <% messages.forEach(function(message) { %>
          <% if (message.medias && message.medias.length > 0) { %>
            <div id="<%= message._id %>" class="message">
              <div class="time"><a href="#<%= message._id %>"><%= 
                moment(message.time)
                .utcOffset(globalConfig.timezone)
                .locale(globalConfig.locale) 
                .format('a hh:mm:ss')
              %></a></div>
              <div class="from">
                <a style="color: <%= getColor(message.from); %>" href="/message/<%= message._id %>">
                  <%= message.from %>
                </a>
              </div>
              <div class="word"><!--
                --><% message.medias.forEach(function (media) { %><!--
                  --><% media.files.forEach(function (file) { %><!--
                    --><% if (media.role !== 'audio') { %><!--
                      --><% if (!file.isThumb) {return} %><!--
                      --><img class="lazy media media_<%= media.role %>" data-original="/files/<%= file.contentSrc %>" 
                          <% if (file.photoSize && file.photoSize.length === 2 ) { %>
                          width=<%= file.photoSize[0] %> height=<%= file.photoSize[1] %>
                          <% } %> 
                          data-role="<%= media.role %>"
                          data-media-id="<%= media._id %>"
                          data-mime="<%= file.MIME %>"
                          alt="[<%= media.role %>](media:<%= file.contentSrc %>)"><!--
                    --><% } else { %><!--
                      --><audio controls preload="none">
                          <source src="/files/<%= file.contentSrc %>" type="<%= file.MIME %>">
                        </audio><!--
                    --><% } %><!--
                  --><% }) %><!--   
                --><% }) %><!--
              --></div>
            </div>
          <% } else if (!message.message.match(/^\u0001ACTION.+\u0001$/i)) { %>
            <div id="<%= message._id %>" class="message">
              <div class="time"><a href="#<%= message._id %>"><%= 
                moment(message.time)
                .utcOffset(globalConfig.timezone)
                .locale(globalConfig.locale) 
                .format('a hh:mm:ss')
              %></a></div>
              <div class="from">
                <a style="color: <%= getColor(message.from); %>" href="/message/<%= message._id %>">
                  <%= message.from %>
                </a>
              </div>
              <div class="word"><%- parseColor(escapeHTML(message.message))%></div>
            </div>
          <% } else { %>
            <div id="<%= message._id %>" class="message">
              <div class="time"><a href="#<%= message._id %>"><%= 
                moment(message.time)
                .utcOffset(globalConfig.timezone)
                .locale(globalConfig.locale) 
                .format('a hh:mm:ss')
              %></a></div>
              <div class="from">
                <a href="/message/<%= message._id %>">
                  *
                </a>
              </div>
              <div class="word"><a href="/message/<%= message._id %>" style="color: <%= getColor(message.from); %>" ><%= message.from %></a> <%- parseColor(escapeHTML((/^\u0001ACTION\s*(.+)\s*\u0001$/i).exec(message.message)[1]))%></div>
            </div>
          <% } %>
        <% }); %>
    </div>
    <div class="anchor" id="bottom"></div>
    <script>
      head.load(["//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"], function () {
        /**
         * Check a href for an anchor. If exists, and in document, scroll to it.
         * If href argument ommited, assumes context (this) is HTML Element,
         * which will be the case when invoked by jQuery after an event
         */
        function scroll_if_anchor(href) {
            href = typeof(href) == "string" ? href : $(this).attr("href");
            
            // You could easily calculate this dynamically if you prefer
            var fromTop = 50;
            
            // If our Href points to a valid, non-empty anchor, and is on the same page (e.g. #foo)
            // Legacy jQuery and IE7 may have issues: http://stackoverflow.com/q/1593174
            if(href.indexOf("#") == 0) {
                var $target = $(href);
                // Older browser without pushState might flicker here, as they momentarily
                // jump to the wrong position (IE < 10)
                if($target.get().length) {
                    $('html, body').animate({ scrollTop: $target.offset().top - fromTop });
                    if(history && "pushState" in history) {
                        history.pushState({}, document.title, window.location.pathname + href);
                        return false;
                    }
                }
            }
        }    
        
        // When our page loads, check to see if it contains and anchor
        scroll_if_anchor(window.location.hash);
        
        // Intercept all anchor clicks
        $("body").on("click", "a", scroll_if_anchor);
      });
    </script>
    
    <script>
      head.load([
        "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js",
        "/components/fancybox/lib/jquery.mousewheel-3.0.6.pack.js", 
        "/components/fancybox/source/jquery.fancybox.css?v=2.1.5",                                                                                                            
        "/components/fancybox/source/jquery.fancybox.pack.js?v=2.1.5",                                                                                                      
        "/components/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5",                                                                                                      
        "/components/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5",                                                                                                      
        "/components/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6",                                                                                                 
        "/components/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7",                                                                                                 
        "/components/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7",
        "/js/jquery.lazyload.js",
        "/js/channel-common.js",
    <% if (isToday && query.live !== 'false') { %>
        "/socket.io/socket.io.js", 
        "/js/md5.min.js",                                                                                                            
        "/js/live.js"
    <% } %>
      ]);
    </script>
    
  </body>
</html>