<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>punch card for <%= name %> </title>
        <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/punch-card.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">
            <a class="button" href="javascript:window.history.back();">← back</a>
        </div>
        <div class="card-wrap">
            <h3>Total message from <%= name %> in past 8 weeks: <span class="total">loading...</span></h3>
        <div class="card">
            <div class="line">
                <div class="slot head">
                    week \ hour
                </div>
                <% for (var i = 0; i < 24; i++) { %>
                <div class="slot" >
                    <div>
                        <%= i %>
                    </div>
                </div>
                <% } %>
            </div>
        <%
        var days = moment.weekdays();
        var i, j, day;
        for (i = 0; i < days.length; i++) {
            day = days[i];
            %>
            <div class="line week-<%= i %>">
                <div class="slot head">
                    <%= day %>
                </div>
                <% for (j = 0; j < 24; j++) { %>
                <div class="slot slot-data" data-index="<%= i * 24 + j%>">
                    <div class="hour-info"><span class="counts">0</span> <a class="detail" href="#">detail</a></div>
                    <div class="hour hour-<%= j %>">
                    </div>
                </div>
                <% } %>
            </div><%
        }
        %>
        </div>
        </div>
        <div class="overlay">
            <div class="data">
            <!--
                <div class="day">
                    <h3>5/7</h3>
                    <p><a href="#">-> ysitd</a>: test</p>
                    <p><a href="#">-> ysitd</a>: test<</p>
                </div>
                <div class="day">
                    <h3>5/7</h3>
                    <p>-> ysitd: test<1</p>
                    <p>-> ysitd: test<</p>
                </div>
            -->
            </div>
        </div>
        <script>
            var name = <%- JSON.stringify(name) %>;
            var offset = <%- JSON.stringify(offset) %>;
            $.get("/api/punch/user/" + name, function (res) {
                var max = 0;
                var all = 0
                res.forEach(function (d) {
                    all += d.value.total;
                    if (d.value.total > max) max = d.value.total;
                })
                $('.total').text(all);
                res.forEach(function (d) {
                    var day = (~~(d._id / 24));
                    var hour = (d._id % 24);
                    var val = d.value.total;
                    
                    var maxWidth = 32;
                    var newWidth = maxWidth * Math.pow(val / max, 0.5);
                    
                    var color = "rgba(31, 127, 31, " + (val / max / 1.25 + 0.2) + ")"
                    
                    $('.week-' + day + ' .hour-' + hour)
                    // .text(val)
                    .css({
                        width: newWidth + 'px',
                        height: newWidth + 'px',
                        "border-radius": (newWidth / 2 + 1) + 'px',
                        "line-height": newWidth + 'px',
                        border: "1px solid #444",
                        background: color,
                        color: "white"
                    })
                    .addClass("gt-0")
                    .parent()
                    .find(".hour-info .counts")
                    .text(val);
                })
                
                $('.hour-info .detail').click(function () {
                    $('.overlay').show();
                    var day = $(this).parent().parent().attr('data-index') - 0;
                    console.log(day);
                    var data = res.filter(function (d) {
                        return d._id == day;
                    }) || []
                    data = data[0] || {_id: day, value: {total: 0, value: []}};
                    data = data.value.value;
                    console.log(data);
                    $(".overlay .data").empty();
                    var data = data.map(function (i) {
                        var date;
                        var timeOffseted = new Date(new Date(i.time) - 0 + offset);
                        var month = timeOffseted.getUTCMonth() + 1;
                        var date = timeOffseted.getUTCDate();
                        return {
                            date: month + '/' + date,
                            id: i.id,
                            message: i.message,
                            time: new Date(i.time) - 0,
                            to: i.to
                        }
                    })
                    data.sort(function (i, j) {
                        return i.time > j.time ? 1 : -1;
                    })
                    data = data.reduce(function (prev, curr) {
                        prev[curr.date] = prev[curr.date] || [];
                        prev[curr.date].push(curr);
                        return prev;
                    }, {})
                    for (var dateName in data) {
                        var dateData = data[dateName];
                        var container = $("<div>").addClass('day');
                        
                        var dayTitle = $('<h3>').text(dateName + ': ' + dateData.length + ' messages');
                        container.append(dayTitle)
                        
                        var dayBody = $('<div>');
                        
                        dayBody.hide();
                        dayTitle.click(function (dayBody) {
                            dayBody.slideToggle();
                        }.bind(null, dayBody))
                        
                        dateData.forEach(function (data) {
                            dayBody.append(
                                $('<p>')
                                .append(
                                    $('<a>')
                                    .text('To ' + data.to + ': ')
                                    .attr('href', '/message/' + data.id)
                                )
                                .append(
                                    $('<span>')
                                    .text(data.message)
                                )
                            )
                        })
                        dayBody.appendTo(container)
                        container.appendTo($(".overlay .data"))
                    }
                    
                    console.log(data);
                })
                $('.overlay').click(function (ev) {
                    if ($(ev.target).is('.overlay')) {
                        $('.overlay').hide();
                    }
                })
            })
        </script>
    </body>
</html>